<section class="results-table slide-in-fwd-center col-sm-10">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title" data-table-card-title></h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Título</th>
            <th scope="col">Autor(a)</th>
            <th scope="col">ISBN</th>
            <th scope="col">Editora</th>
          </tr>
        </thead>
        <tbody data-table-card-body>
        </tbody>
      </table>
    </div>
  </div>
</section>
