<div class="row">
  <div class="col-sm-8">
    <h2 class="page-header">Exporte seus livros do Skoob</h2>
    <p class="lead">
      Você quer migrar para o <a href="https://www.goodreads.com/">Goodreads</a>
      mas não quer recadastrar todos os seus livros, um por um, novamente?
    </p>
    <p class="lead">
      O Goodreads possui uma <a href="https://www.goodreads.com/review/import" />ferramenta de importação</a>,
      e tudo o que você precisa é exportar seus livros do skoob no formato correto.
      Nós fazemos isso para você!
    </p>
    <p class="lead">
      Basta entrar com a sua conta do Skoob e esperar o download do arquivo começar.
      E não se preocupe, não armazenamos sua senha. Você pode conferir isso no
      <a href="https://github.com/arturcp/skoob-exporter">código fonte</a> deste projeto.
    </p>
    <p class="lead">
      Se quiser falar comigo, <a href="https://twitter.com/artur_caliendo">me manda um alô no Twitter.</a>
    </p>
  </div>
  <div class="col-md-4 login-box">
    <%= form_tag crawlers_path, class: 'form-signin' do %>
      <div class="form-group">
        <label>Email</label>
        <%= text_field_tag 'email', nil, class: 'form-control' %>
      </div>

      <div class="form-group">
        <label>Senha</label>
        <%= password_field_tag 'password', nil, class: 'form-control' %>
      </div>

      <p class="lead important-warning">
        <strong>Importante:</strong> ao que parece, o Skoob bloqueou esse site. Estou verificando o que pode ser feito, mas é provável que a importação não funcione :(
      </p>

      <div class="form-group">
        <%= submit_tag 'Gerar', class: 'btn btn-lg btn-primary btn-block' %>
      </div>
    <% end %>

    <% if flash[:error] %>
      <div class="alert alert-danger" role="alert">
        Hum... não conseguimos gerar o arquivo. Verifique seu email e senha e
        tente novamente.
      </div>
      <% flash[:error] = nil %>
    <% end %>
  </div>
</div>
