/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


fieldset {
  border: none;
}

.login-box {
  padding: 45px 20px;
  border: 1px solid #eee;
  margin-top: 45px;
  background-color: rgba(108, 143, 179, 0.04);
}

.import-status {
  margin: 50px;
}

.imported-indicator {
  display: none;
  margin-bottom: 23px;
}

.status-icon {
  height: 130px;
}

.running {
  color: #ffa500;
  font-weight: bold;
}

.finished {
  color: #0fc330;
  font-weight: bold;
}

[data-duplicated] span {
  color: #c72b2b;
}

[data-count] {
  width: 100%;
  text-align: right;
}

.important-warning {
  border: 1px solid #ccc;
  padding: 9px;
  background-color: #f5ebeb;
}
